<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/a81368914c.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<body>
	<div class="container">
		<div class="img">
			<img src="../../assets/bg.svg">
		</div>
		<div class="login-content">
			<form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
				<img src="../../assets/avatar.svg">
				<h3 class="title">Reset Password</h3>
           		<div class="input-div one">
           		   <div class="i">
           		   		<i class="fa fa-user"></i>
           		   </div>
           		   <div class="div">
						<input type="email" class="form-control" placeholder="Email Address" #passwordResetEmail required>		
					</div>
				   </div>
				   <p class="text-center">Please enter your email address to request a password reset.</p>				
				<a routerLink="/login">Log In</a>	
				<input type="submit" class="btn btnPrimary" value="Reset Password" (click)="authService.ForgotPassword(passwordResetEmail.value)">
            </form>
		</div>
    </div>
</body>